body {
  background-color: rgb(253, 217, 174);
}

h1 {
  font-size: 3em;
  width: 350px;
  margin: auto;
}

table {
  font-family: sans-serif;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 30px;
}

thead, tbody, tfoot {
  padding: 10px;

}
footer {
  background-color: black;
  width: 100%;
  height: 200px;
  color: white;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
}
